---
id: TASK-38
title: >-
  [pctl-rs/ADR-008] `pctl-parser` Dependency on `pctl-belnap` (Acyclic Graph
  Verification)
status: To Do
assignee: []
created_date: '2026-04-21 16:31'
updated_date: '2026-04-21 16:31'
labels: []
dependencies: []
references:
  - 'beads:zombo-sash-eco-s3g'
---


